@model Movie
<style>
    .btn-danger {
    background-color: red;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    }

    .btn-danger:hover {
    background-color: darkred;
    }
    .btn-secondary {
    background-color: gray;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    }
    .btn-secondary{
    background0color:darkgray;
    }
</style>
@if (Model.MovieStatus == Ticketsio.Data.MovieStatus.Available)
{
    @if (User.Identity.IsAuthenticated)
    {
        <a asp-area="Customer" asp-controller="Ticket" asp-action="BookSeats" asp-route-MovieId="@Model.Id" class="btn btn-danger mt-2">Book Now</a>
    }
    else
    {
        <a asp-area="Identity" asp-controller="Account" asp-action="Login" class="btn btn-danger mt-2">Book Now</a>
    }
}
@if (Model.MovieStatus == Ticketsio.Data.MovieStatus.UpComing || Model.MovieStatus == Ticketsio.Data.MovieStatus.Expired){
    <button type="button" class="btn btn-secondary">Book Now</button>
}