@model Movie
<style>
    .btn-danger {
        background-color: red;
        border: none;
        padding: 10px 15px;
        border-radius: 5px;
        font-size: 16px;
        text-decoration: none;
        display: inline-block;
        width: 100%;
    }

        .btn-danger:hover {
            background-color: darkred;
        }
   .btn-secondary {
        background-color: gray;
        border: none;
        padding: 10px 15px;
        border-radius: 5px;
        font-size: 16px;
        text-decoration: none;
        display: inline-block;
        width: 100%;
   }
   .btn-secondary{
       background0color:darkgray;
   }
   </style>
@if (Model.MovieStatus == Ticketsio.Data.MovieStatus.Available)
{
    <a href="#" class="btn btn-danger mt-2">Book Now</a>
}
@if (Model.MovieStatus == Ticketsio.Data.MovieStatus.UpComing || Model.MovieStatus == Ticketsio.Data.MovieStatus.Expired){
    <button type="button" class="btn btn-secondary">Book Now</button>
}