@{
    ViewBag.Title = "404 - Page Not Found";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/notfound.css" />
<div class="error-container">
    <h1>404</h1>
    <p>Oops! The page you're looking for doesn't exist.</p>
    <a href="/" class="btn-home">Go to Homepage</a>
</div>
